@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align content to the left */
  gap: 3rem; /* Space between text and image */
  max-width: 1200px;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: 3rem;
  padding: 0 2rem;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  flex: 1;
}

.title {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 2.25rem;
  font-family: var(--font-roboto);
  margin-bottom: 2.5rem;
  line-height: 1.4;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 28%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.topBlur {
  position: absolute;
  width: 40vw;
  height: 40vw;
  min-width: 250px;
  top: -150px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0);
  filter: blur(0);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 15rem;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 50, 0.3);
  filter: blur(1000px);
  z-index: 0;
}

/* ---------- Responsive ---------- */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }

  .content {
    align-items: center;
  }

  .title {
    font-size: 2.75rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .contactBtn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }

  .heroImg {
    width: 60%;
    margin-bottom: 2rem;
  }
}
