@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1.5;
  width: 60%;
}

.title {
  font-size: 2vw;
  font-weight: 900;
  margin-bottom: 4%;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 1.5vw;
  font-family: var(--font-roboto);
  margin-bottom: 5%;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 1.5vw;
  font-weight: 600;
  padding: 2% 3%;
  box-shadow: 0 0 0.5vw 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 30%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0%);
  }
  50% {
    transform: translate(0, 5%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.topBlur {
  position: absolute;
  width: 30%;
  height: 30%;
  min-width: 20%;
  top: -15%;
  left: -10%;
  border-radius: 50%;
  background: rgba(25, 55, 109, 0.1);
  filter: blur(10vw);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70%;
  height: 50%;
  min-width: 35%;
  top: 25%;
  right: -25%;
  border-radius: 50%;
  background: rgba(25, 70, 70, 0.2);
  filter: blur(10vw);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
    width: 90%;
  }

  .title,
  .description,
  .contactBtn {
    text-align: center;
  }
}
